<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image" href="assets/images/title.PNG">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/movienight.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- CSS --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link href="assets/css/style.css" rel="stylesheet" type="text/css">

  <!--portbox-->
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/jquery-1.10.2.min.js"></script>
  <script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/assets/js/portBox.slimscroll.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700' rel='stylesheet' type='text/css'>
  <link href="/assets/css/page.css" rel="stylesheet" />
  <link href="/assets/css/portBox.css" rel="stylesheet" />


  {{!-- Dashboard --}}
  <script src="/assets/js/dashboard.js"></script>


  <title>Cinemaphile</title>
</head>

<body>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand">
    <img src="/assets/images/icon.png" width="100" height="100" class="d-inline-block align-top" alt="Icon">
    </a>
    <h1>Cinemaphile</h1>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Movie" id="searchbox" name="searchbox">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
  </nav>

  <div class="row" id="page">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center" id="box">
      {{#if user}}
        {{> sidebar/loggedin}}
      {{/if}}

      {{#unless user}}
        {{> sidebar/loggedout}}
      {{/unless}}
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <div class="container">
        <div class="row" id="search-results">
          {{{body}}}
        </div>
      </div>
    </div>
</body>
</html>