
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand">
    <img src="/assets/images/icon.png" width="100" height="100" class="d-inline-block align-top" alt="Icon">
  </a>
  <h1> Movie Night</h1>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="searchbox" placeholder="Search Movie" name="searchbox">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
      

    </form>
</nav>

<div class="dashboard">
  <h5>Hurray! You are logged in.</h5>
  <button id="logout" method="get" action="/logout">Logout</button>
</div>

<div class="moviearea" id="stats">

  

</div>




<!-- Try create the add new movie button-->
  <a href="#" data-display="addNewMovie" id="addNewMovie_btn" class="button">Add New Movie</a>
  <div id="addNewMovie" class="portBox">
    <form id="addNewMovie_form" name="addNewMovie" method="post" action="/addMovie">
      <label for="title_newMovie">Title</label>
      <input class="text" id="title_newMovie" name="title_newMovie" type="text" />
      <label for="year_newMovie">Year</label>
      <input name="year_newMovie" id="year_newMovie" type="text" />      
      <label for="genre_newMovie">genre</label>
      <input name="genre_newMovie" id="genre_newMovie" type="text" />      
      <label for="image_newMovie">image</label>
      <input name="image_newMovie" id="image_newMovie" type="text" />
      <button class="btn" id="addMovie-btn">Add</button>
    </form>
  </div>