<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input id="username-input" class="text" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password-input" name="password" type="password" />
    <button class="btn" id="signin-btn">Sign In</button>
</form>