<form id="signup" name="signup" method="post" action="/signup">
    <label for="username-input">Username</label>
    <input class="text" id="username-input" name="username-input" type="text" />
    <label for="password">Password</label>
    <input name="password" id="password-input" type="password" />
    <button class="btn" id="signup-btn">Sign Up</button>
</form>
