<div>
    <a href="#" data-display="signin" class="btn m-3" id="signIn">Sign In</a>
    <div id="signin" class="portBox">
        <form id="signin" class="text-right" name="signin" method="post" action="/signin">
        <label for="username">Username</label>
        <input id="username-signin" class="text" name="username-signin" type="text" />
        <br><label for="password">Password</label>
        <input id="password-signin" name="password" type="password" />
        <br><button class="btn" id="signin-btn">Sign In</button>
        </form>
    </div>
    </div>
    <div>
    <a href="#" data-display="empty" class="btn m-3" id="signUp">Create an Account</a>
    <div id="empty" class="portBox">
        <form id="signup" name="signup" method="post" action="/signup">
        <label for="username-signup">Username</label>
        <input class="text" id="username-signup" name="username-signup" type="text" />
        <label for="password">Password</label>
        <input name="password" id="password-signup" type="password" />
        <button class="btn" id="signup-btn">Sign Up</button>
        </form>
    </div>
</div>