<br>
<h1>Welcome, {{username}}!</h1>
<a href="/completedlist" class="btn" id="completedlist-btn">Completed List</a>
<br>
<br>
<a href="/watchlist" class="btn" id="watchlist-btn">Watch List</a>
<br>
<br>
<button id="logout" class="btn" method="get" action="/logout">Logout</button>