<div id="wrapper">
    <h1 class="m-3">Welcome, {{username}}!</h1>
    <a href="/completedlist" class="btn m-3" id="completedlist-btn">Completed List</a>
    <a href="/watchlist" class="btn m-3" id="watchlist-btn">Watch List</a>
    <button id="logout" class="btn m-3" method="get" action="/logout">Logout</button>
</div>