html, body{
    background-color:white;
    height: 100%;
}

.row {
    height: 100%;
}

#signUp{
    color:white;
    background-color: peru;
}

#signIn{
    color:white;
    background-color: peru;
}

#searchButton{
    background-color: peru;
    color:white;
    border-color:peru;
}

h1{
color:white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#box{
    background-color:black;
    height: 100%;
}

#logout{
    background-color: peru;
    color:white;
    border-color: peru;
}

h5{
    color:white;
}

#signin-btn, #watchlist-btn, #completedlist-btn{
    color:white;
    background-color: peru;
}

#pw, #user {
    color:peru;

}

@media only screen and (max-width: 991px) {
    #box, .row {
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    h1 {
        margin: 0;
    }
}
